
.menu-bar {
	font-size: 14px; 
	width: 90%; 
	margin-top:-32px; 
	margin-left:12%;
}

.menu-btn {
	color: brown;
	font-weight: bold;
	font-size: 16px;
	font-family: 'Times New Roman', Times, serif;
}

.category {
	position: absolute;
	z-index: 2;
	display: none;
	width: 90%;
	margin-top: -18px;
	margin-left: -5px;
	padding: 4px;
	text-align: left;
	font-size: 14px;
	background-color: antiquewhite;
}

.print {
	position: absolute;
	z-index: 2;
	display: none;
	width: 240px;
	margin-top: -18px;
	margin-left: 240px;
	padding: 4px;
	text-align: left;
	font-size: 14px;
	background-color: antiquewhite;
}

.usage {
	position: absolute;
	z-index: 2;
	list-style-type: none;
	display: none;
	width: 220px;
	margin-top: -18px;
	margin-left: 360px;
	padding: 4px;
	text-align: left;
	font-family: 'Times New Roman', Times, serif;
	font-size: 14px;
	background-color: antiquewhite;
}
.clickable {
	font-family: SimSun;
	color: rgb(77, 77, 77);
}

.clickable:hover {
	background-color: yellow;
	cursor: pointer;
}