
/* sidebar */
div.sidebar {
	float: right;
	width: 19%;
	padding: 8px;
}

/* Style the list inside the menu */
div.sidebar ul {
	list-style-type: none;
	padding: 0;
}

p.word-category {
	font-family: 'Times New Roman', Times, serif;
	font-weight: bold;
	color: rgb(77, 77, 77);
	cursor: pointer;
}

ul.word {
	font-family: SimSun;
	font-size: 16px;
	margin-top: -6px;
	margin-bottom: 12px;
	margin-left: -px;
	line-height: 1.7;
	/* display: none; */
}

li:hover {
	background-color: yellow;
	cursor: pointer;
}

input[type=text] {
	width: 100px;
	font-size: 16px;
}

span.search {
	font-size: 16px;
	cursor: pointer;
}

div.search-word {
	margin-left: -10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

p.search-error {
	color: brown;
	font-family: 'Times New Roman', Times, serif;
	font-size: 12px;
}
