div.index-row {
	width: 80%;
	margin-left: 6%;
	padding-top: 2%;
	align-items: stretch;
}

div.picture-col {
	float: left;
	width: 50%;
}

.picture {
	display: block;
	width: 80%;
	margin: auto;
	cursor: pointer;
}

.index-title {
	margin-top: 20px;
	padding: 1%;
	text-align: center;
}

.chinese-title {
	font-family: KaiTi;
	font-size: 36px;
	color: darkgreen;
}

.english-title {
	font-family: 'Times New Roman', Times, serif;
	font-size: 32px;
	color: darkgreen;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	div.index-row {
		width: 98%;
		align-items: stretch;
	}

	div.picture-col {
		float: left;
		width: 100%;
		padding: 20px;
	}
}